<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% @tweet.each do |tweet| %>
<p><%= tweet.message %>
<% if session[:login_uid]%>
    <%= link_to 'いいね', likes_path(tweet_id: tweet.id), method: :post %>
    <%= link_to 'いいね削除', like_path(tweet), method: :delete %>
    <%= link_to '削除', "/tweet/#{tweet.id}",method: :delete %>
<% end %>
</p>
<%end%>
<% if session[:login_uid]%>
    <p><%= link_to 'ツイートする','/tweet/new' %></p>
    <%= link_to 'ログアウト',top_logout_path %>
<%else%>
    <%= link_to 'ログイン','/top/main' %>
<% end %>