<% if @user.errors.present? %>
    <h3>エラーがあります。</h3>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul><>
<% end %>

<%= form_for @user , url: {action: :create} do |f| %>

<p><%= f.label :uid,'uid' %><%= f.text_field :uid %><%= f.label :pass,'pass' %><%= f.text_field :pass %></p>
<%= f.submit '登録' %>
<% end %>
